header{
    color: #f5e2e4;
    background-image: url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 40px;
}
.red{
    color: red;
}
h3{
    font-weight: bold;
    font-size: 60px;
}

.second{
    margin-top: 50px;
    height: 300px;
    text-align: center;
    margin-bottom: 50px;
}
.midnight{
    margin-top: 600px;
    text-align: left;
    background-image: url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    color: #fff;
    padding-left: 30px;
    padding-top: 120px;
    height: 600px;
    font-size: 20px;

}
.midnight p{
    width: 60%;
}
button{
    background-color: green;
    color: #fff;
    height: 30px;
    width: 100px;
    border-radius: 20px;
}

button:hover{
    background-color: bisque;
    color: #121313;
}
.schedule{
    margin-top: -80px;
    height: 300px;
    width: 100%;
    text-align: center;
    background-color: bisque;
}
.schedule-info{
    padding-top: 80px;
    font-weight: 800;
}

.bonus-one{
    margin-top: 60px;
    background-color: rgb(245, 221, 191);
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: space-between;
}
.left-text{
    text-align: left;
}

.right-text{
    text-align: center;
}

.bonus-second{
    margin-top: 60px;
}

.upper-text h4, h2{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}

.upper-text p{
    text-align: center;
}

.img-set{
    height: 600px;
    background-image: url("../images/Rectangle\ 2.png");
    background-repeat: no-repeat;
    background-position: bottom;
}
.surprise-img{
    padding-top: 100px;
    width: 100%;
    height: 600px;
    background-image: url("../images/Group\ 75.png");
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
}










footer{
    height: 1000px;
}